<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= oneComputer.name %>
    </title>
</head>

<body>
    <nav><button>
        <a href="/computerSection">Go back to Computer Section</a>
    </button></nav>
    <h1>
        <%= oneComputer.name %>
    </h1>
    <ul>
        <li>
            Price: $
            <%= oneComputer.price %>
        </li>
        <form action="/computerSection/<%= oneComputer._id %>?_method=DELETE" method="POST">
            <button>Delete This Listing</button>
        </form>
        <button><a href="/computerSection/<%= oneComputer._id %>/edit ">Edit this Item</a></button>
    </ul>
</body>

</html>